._2gt5xMpd{animation-duration:.5s;animation-name:_2gt5xMpd;border:1px solid black;}
._2gt5xMpd{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-name:_2gt5xMpd;animation-name:_2gt5xMpd; border:1px solid black;}
._22yAJNex{padding:0 8px;display:-ms-flexbox;display:flex}
._2SCya0uG{font-size:12px;line-height:36px;background:var(--header)}
._3JiaBeES{padding:8px;font-size:14px;text-align:center}
._1f72ZnMj{font-size:14px;line-height:56px;border-bottom:1px solid var(--primary-1)}
._1DVwqgEX{padding:0 8px;-ms-flex:1 1;flex:1 1;min-width:0px;max-width:200px}
.PNtsjQk-{-ms-flex:1 1;flex:1 1;max-width:72px}
._1nzd5y0o{-ms-flex:0.5 1;flex:0.5 1}
._38N__OjC{-ms-flex:2.5 1;flex:1.5 1;max-width:none;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
._3vo-w0f0{color:var(--positive)}
._1VbV08-1{padding-left:14px;font-size:12px;opacity:.7}
._1VbV08-1,.SJ07Vp8j{display:none}
._197X6mTy{color:blue;}
@media (min-width:768px){
    ._22yAJNex{padding:0 24px;display:-ms-flexbox;display:flex}
    .PNtsjQk-{max-width:200px}
    ._2OaVLj_x{display:none}
    .SJ07Vp8j{display:block}._1VbV08-1{display:inline}}
